*{    
    box-sizing: border-box;
    font-family: kalam, Arial, Tahoma, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 50px 50px 150px 50px;    
    background-image: linear-gradient(to bottom right, rgb(187, 207, 226), RGB(146, 168, 209));
}
img{
    width: 100%;
    height: auto;
}
h1{    
    text-align: center;    
}
p{
    font-size: 20px;
    text-align: justify;
}
li{
    font-size: 20px;
}
span{
    text-decoration-line: underline;
    font-weight: bold;
}
blockquote{
    background-color: silver;
    padding: 20px;
    box-shadow: 10px 10px 5px grey;
    border-radius: 15px;
} 

/* logo ------------------------------*/
.logo img{
    width: 100%;
    height: auto;    
}

.logocontainer{    
    width: 100px;
    height: auto;    
    position: relative;
    background-color: white;
    left:0% ;    
}


/* menu ---------------------------------*/

.containermenu{
    border-radius: 15px;
    background-color: #2f5578;
    font-size: 35px;     
}

.containermenu ul{
   display: flex;   
   flex-wrap: wrap;
   list-style-type: none;
   text-align: center;   
   justify-content: center ;
}
.containermenu ul li{
    padding: 15px;    
}
.containermenu a{
    text-decoration: none;   
    color: white;     
}

/* cuerpo -------------------------*/
.cuerpo h2{
    padding-left: 15px;
}

.descripcion{    
    display: flex; 
}

.descripcion p {    
    padding:  15px;
    margin: 15px;    
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;  
}
.descripcion img{
    border-radius: 15px;    
    box-shadow: 10px 10px 5px grey;   
}

.listalojamiento ul li{
    list-style-type: square;
}
.listado{
    display: flex;
    flex-wrap: wrap;
}

/* galeria ****/ 

.galeriacontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    box-shadow: 1px 15px 15px;
    margin-bottom: 55px;
}
.imagenzindex{
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

/* NORMAS DE LA CASA*/
#normas{
    border: 1px solid black;
    background-color: #2f5578;
    border-radius: 15px;
    text-align: center;
}

/* DATOS DE CONTACTO*/
#contacto{
    border: 1px solid black;
    background-color: rgb(192, 225, 226);
   /* background-image: linear-gradient(to bottom right, rgb(192, 225, 226), rgb(15, 235, 198));*/
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    padding: 15px;    
}



/* scroll to top buttom ******************************************************
*****************************************************************************/

#myBtn {    
    position: fixed; /* Fixed/sticky position */
    top: 50px; /* Place the button at the bottom of the page */
    right: 100px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    /*border: white ; Remove borders - none */
    outline: none; /* Remove outline */
    background-color: #2f5578; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: red; /* Add a dark-grey background on hover */
  }
@media screen and (orientation:landscape){    
    #myBtn {
    top: 50px;
    right: 100px;}
}
/* *****************************************************************************
****************************************************************************** */

  /* footer */
  

/*************footer End*****************/
